<h1> Hi <strong><%= @request.name.capitalize %></strong>, </h1>
<h2>You've been accepted to Coworking! To renew your contract click the URL below.
</h2>
<p class="mail"><strong><%=  link_to "Here!", contract_acceptation_url(@request.confirm_token)%>
</strong></p>
