<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Un Email Responsive</title>
    <style type="text/css">
    body {margin: 0; padding: 0; min-width: 100%!important;}
    .content {width: 100%; max-width: 600px;}
    .mail {text-decoration: none; }
    </style>
  </head>
  <body yahoo bgcolor="#f6f8f1">
    <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td>
                <h1> Hi </h1>
                <h2>here is a summary of your login information:
                </h2>
                <p>email : <%= @user.email %></p>
                <p>password : <%= @user.password %></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
