<h1> Hi <strong><%= @request.name.capitalize %></strong>, </h1>
<h2>
To confirm your registration on waiting list click the URL below.
If you do not, you will be automatically excluded from the list after 24 hours </h2>
<p class="mail"><strong><%=  link_to "Confirm my registration!", reconfirm_email_url(@request.confirm_token)%>
</strong></p>
<h2>If you no longer want to be on the waiting list</h2>
<p class="mail"><strong><%=  link_to "I don't want to", unconfirm_email_url(@request.confirm_token)%> </strong> </p>
