<div class="container text-center">
  <h1 class="pt-3 pb-5 font-weight-bold font-italic"><strong>User</strong></h1>
  <p> <strong>Email :</strong> <%= @user.email %> </p>
  <p> <strong>Address :</strong>  <%="#{ @user.address_n} " + "#{@user.address_street} " + "#{@user.address_zip} " + "#{@user.address_city}"%> </p>
</div>

<div class="container"
  id="map"
  style="width: 50%;
  height: 300px"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
