<div class="container text-center">
  <h1 class="pt-3 pb-5 font-weight-bold font-italic"><strong>User</strong></h1>
  <p> <strong>Email :</strong> <%= @user.email %> </p>
  <p> <strong>Address :</strong>  <%= @user.address %> </p>
</div>
