<div class="form">
  <label for="test">Test</label>

     <input class="form-control string required" type="text" name="test" id="test" placeholder="Search for a Workplace" />
<button name="button" type="submit" class="btn btn-flat btn-success">submit
</button>
</div>

<div class="container text-center"><%= @response.body %></div>
