<div class="container text-center">
<h1>Waiting list</h1>
<p>Here is the order in which the next requests will be accepted</p>
</div>

<div class="container">
<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
<% @requests.each_with_index do |r, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td> <%= link_to r.name.capitalize, request_path(r) %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
</div>
