<div class="container text-center">
  <h1 class="pt-3 pb-5 font-weight-bold font-italic"><strong>Request</strong></h1>
  <p> <strong>Name :</strong> <%= @request.name %> </p>
  <p> <strong>Email :</strong>  <%= @request.email %> </p>
  <p> <strong>Phone number :</strong> <%= @request.phone_number %> </p>
  <p> <strong>Biography : </strong> <%= @request.biography %> </p>
</div>
