<div class="container text-center">
  <h1>Workplaces</h1>
  <p>Here is the list of available Workplaces</p>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total places</th>
          <th scope="col">Available places</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @workplaces.each do |w| %>
        <tr>
          <td> <%= link_to w.name.capitalize, workplace_path(w) %></td>
          <td><%= w.total_places %></td>
          <td><%= w.available_places %></td>
          <% unless w.available_places.zero? %>
          <td class="btn btn-success btn-flat"> <%= link_to "Book this Workplace!", controller: "reservations", action: "new", workplace_id: w.id %></td>
          <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
