<div class="container text-center">
  <h1 class="pt-3 pb-5 font-weight-bold font-italic"><strong>Workplace</strong></h1>
  <p> <strong>Name :</strong> <%= @workplace.name %> </p>
  <p> <strong>Total places :</strong>  <%= @workplace.total_places %> </p>
</div>
