<div class="container text-center">
  <h1>Reservations</h1>
  <p>Here is the list of your reservations ( click <%= link_to "here", pdf_path %> to view yours reservations on PDF format )</p>
</div>
<div class="container d-flex">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead class="tableheader">
        <tr>
          <th class="titre" scope="col">Workplace</th>
          <th class="titre" scope="col">Starting date</th>
          <th class="titre" scope="col">Ending date</th>
        </tr>
      </thead>
      <tbody class="tablebody">
        <% @reservations.each do |r| %>
        <tr>
          <td class="colonne"><%= link_to r.workplace.name, reservation_path(r) %></td>
          <td class="colonne"><%= r.starting_date %></td>
          <td class="colonne"><%= r.ending_date %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <img src="reservation.jpg" alt="no image"> -->
