<div class="container text-center">
<h1 class="pt-3 pb-5">Create a reservation for <%= @workplace.name %></h1>

<%= simple_form_for @reservation do |f| %>

<input class="form-control string required flatpickr-input input" placeholder="Choose your dates here !" required="" tabindex="0" type="text" readonly="readonly">
  <input id="WorkplaceId" name="WorkplaceId" type="hidden" value=<%= "#{@workplace.id}" %>>
  <button type="button" class="btn btn-outline-success"><%= f.button :submit %> </button>
<% end %>
</div>
