<div class="container text-center">
  <h1 class="pt-3 pb-5 font-weight-bold font-italic"><strong>Reservation</strong></h1>
  <p> <strong>Workplace :</strong> <%= @reservation.workplace.name %> </p>
  <p> <strong>Starting date :</strong>  <%= @reservation.starting_date %> </p>
  <p> <strong>Ending date :</strong> <%= @reservation.ending_date %> </p>
</div>
