<%= form_for(@adresse, method: :get) do |f| %>

  <div class="field" name="properties[label]" id="properties[label]">
    <%= f.label :query %><br>
    <%= f.text_field :query %>
  </div>

<button type="submit"> submit </button>
<% end %>
