#v-pills-tab {
  text-align: center;
  a {
    border: 2px solid $green;
    color: $green !important;
  }
  .active {
    background-color: $green;
    color: white !important;
  }
}

.table-grey {
  img {
    opacity: 0.5;
  }
}
